body {
  height: 100vh;
  background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  padding: 50px 0px;
}

.container .heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
}

.container .heroes .hero {
  width: 80px;
  height: 84px;
  margin: 2px;
  border: 3px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #555;
  overflow: hidden;
  transform: skewX(-14deg);
  transition: transform 0.2s, background-color 0.6s;
}

.container .heroes .hero:hover {
  background-color: orange;
  transform: skewX(-14deg) scale(1.5);
  z-index: 1;
}

.container .heroes .hero .image {
  width: 140%;
  height: 100%;
  background-position: center;
  background-size: 86px;
  background-repeat: no-repeat;
  transform: skewX(14deg) translateX(-16px);
}

.container .heroes .hero:nth-child(1) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/dva/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(2) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/genji/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(3) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/doomfist/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(4) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/reinhardt/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(5) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/wrecking-ball/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(6) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/roadhog/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(7) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/lucio/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(8) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/reaper/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(9) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/mercy/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(10) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/mei/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(11) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/moira/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(12) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/bastion/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(13) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/baptiste/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(14) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/brigitte/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(15) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/soldier-76/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(16) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/sombra/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(17) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/sigma/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(18) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/symmetra/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(19) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/ana/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(20) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/ashe/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(21) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/echo/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(22) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/orisa/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(23) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/widowmaker/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(24) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/winston/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(25) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/zarya/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(26) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/junkrat/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(27) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/zenyatta/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(28) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/cassidy/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(29) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/torbjorn/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(30) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/tracer/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(31) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/pharah/hero-select-portrait.png");
}
.container .heroes .hero:nth-child(32) .image {
  background-image: url("https://d1u1mce87gyfbn.cloudfront.net/hero/hanzo/hero-select-portrait.png");
}

.container .logo {
  max-width: 300px;
  margin: 0 auto;
  padding: 0 20px;
}

.container .logo img {
  width: 100%;
}
